.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto
data/raw_data/leirness_bootstrapped_models/
output/*
data/raw_data/leirness_bootstrapped_models/
output/*
!output/README.md
!output/exposure_values/
!output/priority_values/
!output/rank_mc/
!output/sensitivity_values/
!output/status_values/
!output/sensitivity_analysis/
.positai
